# Python
backend/pegasus_saved/
backend/whisper_saved/

ven/
ven
__pycache__/
*.pyc
env
venv
.env
.idea
.vscode
.DS_Store
node_modules
dist
build
*.log
*.sqlite3
*.bak
*.swp
*.tmp
coverage
htmlcov
*.egg-info
.mypy_cache
.pytest_cache
.coverage
.pyre/
.pytype/
# Jupyter Notebook
.ipynb_checkpoints
# VS Code

