body {
  background: #0d0d0d;
  color: white;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  color: #0dd9f7;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

.tab {
  background: #1a1a1a;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  border: 1px solid #333;
  cursor: pointer;
  font-size: 16px;
}

.tab:hover {
  border-color: #0dd9f7;
}

.tab.active {
  background: #0dd9f7;
  color: black;
}

.card {
  background: #1a1a1a;
  padding: 25px;
  margin: 40px auto;
  border-radius: 12px;
  width: 60%;
  border: 1px solid #222;
}

.input-box {
  width: 100%;
  background: #0d0d0d;
  border: 1px solid #333;
  color: white;
  height: 180px;
  padding: 10px;
  border-radius: 8px;
}

.file-input {
  margin: 15px 0;
  color: white;
}

.btn {
  margin-top: 20px;
  background: #0dd9f7;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.result {
  margin-top: 25px;
  background: #0d0d0d;
  padding: 20px;
  border-left: 4px solid #0dd9f7;
  border-radius: 8px;
}
